@import "src/styles/config";
@import "src/styles/_mixin-basics.scss";

button {
  @include width-height(8rem, 6rem);

  padding-left: 1rem;
  border-radius: 50%;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: $FONT-SIZE_SLIGHTLY_LARGER;
  letter-spacing: 0.5rem;
  background: $ALERT_RED;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0),
  0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
button span { position: relative; }
/* fix for IE 11 (and IE8+, although the earlier versions are harder to address) stupidly moving the inner button text on click */
.pressed {
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0),
  0 8px 6px rgba(0,0,0,.45);
}
