<div class="container">
  <div class="title">
    <span>{{card?.name}}</span>

    <span *ngIf="delete"><img [src]="imagesPaths.DELETE_ICON" id="deleteIcon"  class= "deleteIcon" (click)="deleteTemplate(card?.id ?? -1)"></span>
  </div>


  <hr class="{{card?.status ?? ''}}">

  <div class="bottom">
    <div class="smallContainer">
      <mat-icon>event</mat-icon>

      <span>{{ card?.updatedAt | date : "d/M/yyyy" }}</span>
    </div>

    <div class="bigContainer">
      <mat-icon>account_circle</mat-icon>

      <span>{{ card?.ownerUsername }}</span>
    </div>

    <div class="smallContainer">
      <span class="material-symbols-outlined">timer</span>

      <span>{{ card?.length }}s</span>
    </div>
  </div>
</div>
