/*
COLORS
 */
$CARD_BLUE: #8ca4de;
$FOUNTAIN_BLUE: #485067;
$FOUNTAIN_BLUE_HOVER: #393d56;
$GREEN: #27ae60;
$RED: #ae3727;
$ORANGE: #dca431;
$DARK_BLUE: #175d98;
$LIGHT_BLUE: #175d98;
$LIGHT_BLUE_LOGIN: #175d98;
$LIGHT_BLUE_HOVER: #0e4a7e;
$LIGHT_PURPLE_MORE: #584994;
$ALMOST_WHITE_BLUE: #e0edff;
$HOVER_BLUE: #bdd0ff;
$LIGHT_GRAY:#f2f2f2;
$SCROLLBAR_GRAY: #f6f6f6;
$TIMELINE_TICK: #696969;
$NOTIFICATION_BELL_BLUE:#393F4F;
$SPECIAL_DATE_COLOR: rgba(90, 204, 54, 0.44);
$GREY-FONT-COLOR: rgba(0, 0, 0, 0.68);
$NOTIFICATION_ORANGE_DOT: #f59f29;

$GREY-FONT-COLOR: rgba(0, 0, 0, 0.68);
$ALERT_RED: #f60606;
$DELETE_ICON_RED: #f60606;
$EDIT_ICON_YELLOW: #f6a606;
$STOP_ICON_ORANGE: #f6a606;

/*
BORDERS
 */
$PAGE_RADIUS_DEFAULT: 1rem;
$PAGE_RADIUS_LOWER: 0.5rem;
$PAGE_RADIUS_LOWEST: 0.25rem;
$FOUNTAIN_BORDER: 0.25rem;

/*
OPACITY
 */
$BACKGROUND_OPACITY: 0.6;
$LOW_TRANSPARENCY: 0.8;

/*
FIXED VALUES
 */
$SIDEBAR_WIDTH: 22vw;
$MAIN-CONTENT-WIDTH: 78vw;
$NAVBAR_HEIGHT: 5rem;

$FOUNTAIN_CONTAINER_HEIGHT: 23.1rem;
$FOUNTAIN_CONTAINER_WIDTH: 80rem;

/*
FONTS
 */
$FONT_SIZE_PAGE_TITLE: 6rem;
$FONT_SIZE_PAGE_TITLE_SMALLER: 4rem;
$FONT_SIZE_XXXL: 3.2rem;
$FONT_SIZE_XXL: 2rem;
$FONT-SIZE_XL: 1.6rem;
$FONT_SIZE_LARGER: 1.4rem;
$FONT_SIZE_SLIGHTLY_LARGER: 1.2rem;
$FONT_SIZE_DEFAULT: 1rem;
$FONT_SIZE_SLIGHTLY_SMALLER: 0.8rem;

/*
PADDINGS & MARGINS
 */
$DEFAULT_PAGE_PADDING: 2rem;
$DEFAULT_PAGE_PADDING_LOWER: 1rem;
$DEFAULT_PAGE_PADDING_LOWEST: 0.5rem;

$DEFAULT_PAGE_MARGIN_GREATER: 3rem;
$DEFAULT_PAGE_MARGIN: 2rem;
$DEFAULT_PAGE_MARGIN_LOWER: 1rem;
$DEFAULT_PAGE_MARGIN_LOWEST: 0.5rem;

/*
SCREEN BREAKPOINTS
 */

$FLUID_TYPOGRAPHY_DEFAULT_BREAKPOINT: 1024px;

