$BACKGROUND_IMG: '/assets/dashboard-floating-blocks-bcg.jpg';
$PAVEMENT_TEXTURE: '/assets/fountain-textures/light-gray-abstract-concrete-wall.jpg';
$BRIDGE_TEXTURE: '/assets/fountain-textures/wooden-background.jpg';
$POOL_TEXTURE: '/assets/fountain-textures/summer_background_48_a.jpg';
$FOAM_JET_ICON: '/assets/pump-icons/foam-jet-icon.png';
$PUMP_ICON: '/assets/water-pump-icon.png';
$FOAM_ICON: 'assets/pump-icons/foam-on-icon.png';
$ALARM_ON_ICON: '/assets/icons/alarmOn.svg';
$ALARM_OFF_ICON: '/assets/icons/alarmOff.svg';
$TIMELAPSE_ICON: '/assets/icons/timelapse.svg';
$USER_ICON: '/assets/icons/user.svg';
